
<% content_for :estilos do %>
    <%= stylesheet_link_tag  "backend/toastr.min", "backend/sweet-alert" %>
    <style>

        .acciones{
            font-size: 16px !important;
            cursor: pointer;
        }

        .eliminar{
            color: #F3565D;
        }

        .editar{
            color: #45B6AF;
        }
        #btnacciones{
            background: #fff !important;
        }
    </style>
<% end %>

<% content_for :contenido do %>
    <div class="col-md-6">

      <div class="portlet light">
        <div class="portlet-title">
          <div class="caption font-green-sharp">
            <i class="fa fa-stethoscope font-green-sharp"></i>
            <span class="caption-subject"> Patologías</span>
          </div>
        </div>
        <div class="portlet-body">

          <ul class="list-group">
            <% @patologias.each do |p| %>


                <li class="list-group-item">
                  <span class="txtNombre"><%= p.nombre %></span> <span id="btnacciones" class="badge badge-default">
										<i data-target="#editar" data-id="<%= p.id  %>" data-toggle="modal" data-container="body" data-placement="top" data-original-title="Editar" class="acciones editar fa fa-pencil tooltips"></i>&nbsp;
                        <i data-id="<%= p.id  %>" data-container="body" data-placement="top" data-original-title="Eliminar" class="acciones eliminar fa fa-trash tooltips"></i>
                            </span>
                </li>



            <% end %>
          </ul>

        </div>
      </div>

    </div>

    <form id="frmEliminarPatologia" action="/patologia/eliminar" method="post" style="display: none">
      <input type="text" id="eliPatologiaId" name="idpatologia"/>
    </form>

    <div class="col-md-6">
      <div class="portlet light">
        <div class="portlet-title">
          <div class="caption font-green-sharp">
            <i class="icon-plus  font-green-sharp"></i>
            <span class="caption-subject"> Nuevo</span>
          </div>
          <div class="actions">
            <a id="nueva-fila" href="#" class="btn btn-circle green-jungle ">
              <i class="fa fa-plus"></i> </a>
          </div>
        </div>
        <div class="portlet-body">

          <form role="form" method="post" action="/patologia/nuevo/">
            <div id="formNuevaPatologia">
              <div id="cont-patologia">
                <div class="form-body">
                  <div class="form-group">
                    <input name="patologia[]" class="form-control" placeholder="Nombre de la patologia" type="text" required>
                  </div>
                </div>
                <hr/>
              </div>
            </div>
            <button type="submit" class="btn btn-circle blue-madison">
              <i class="fa fa-check"></i> Guardar </button>
          </form>

        </div>
      </div>

    </div>

    </div>

    <div class="modal fade" id="editar" tabindex="-1" role="basic" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
            <h4 class="modal-title">Editar patologia</h4>
          </div>
          <form role="form" method="post" action="/patologia/editar/">
            <div class="modal-body">


              <div class="form-body">
                <div class="form-group">
                  <label>Nombre</label>
                  <input id="patologia" name="patologia" class="form-control" placeholder="Nombre" type="text">
                </div>
              </div>

              <input type="text" name="idpatologia" id="idpatologia" style="display: none"/>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn default" data-dismiss="modal">Cancelar</button>
              <button type="submit" class="btn blue">Guardar cambios</button>
            </div>
          </form>
        </div>
        <!-- /.modal-content -->
      </div>
      <!-- /.modal-dialog -->
<% end %>

<% content_for :scripts do %>
    <%= javascript_include_tag "backend/toastr.min", "backend/sweet-alert.min" %>

    <script type="text/javascript" charset="utf-8">
        $(function(){

            toastr.options = {
                "debug": false,
                "positionClass": "toast-top-right",
                "onclick": null,
                "showDuration": "3000",
                "hideDuration": "1000",
                "timeOut": "5000",
                "extendedTimeOut": "1000",
                "showEasing": "swing",
                "hideEasing": "linear",
                "showMethod": "fadeIn",
                "hideMethod": "fadeOut"
            };

            $(".eliminar").click(function(){
                var id = $(this).attr("data-id");
                swal({
                            title: "¿Eliminar?",
                            text: $(this).parent().parent().find(".txtNombre").html() + " se borrará permanentemente!",
                            type: "warning",
                            showCancelButton: true,
                            confirmButtonColor: "#DD6B55",
                            cancelButtonText: "Cancelar",
                            confirmButtonText: "Sí, eliminarla!",
                            closeOnConfirm: true
                        },
                        function(){

                            $("#eliPatologiaId").val(id);
                            $("#frmEliminarPatologia").submit();

                        });
            });

            $(".editar").click(function(){
                var preg = $(this).parent().parent().find(".txtNombre").html();
                $("#patologia").val(preg);
                $("#idpatologia").val($(this).attr("data-id"));
            });


            $("#nueva-fila").click(function(){
                var a = $("#cont-patologia").clone();
                a.attr("id","");
                a.find(".form-control").val("");
                a.appendTo("#formNuevaPatologia");
            });


            <% if @notifeditar %>
            toastr.success("Patologia actualizada", "Transacción exitosa");
            <% end %>
            <% if @notifnuevo %>
            toastr.success("Patologia registrada", "Transacción exitosa");
            <% end %>
            <% if @notifeliminar %>
            toastr.success("Patologia eliminada", "Transacción exitosa");
            <% end %>



        });
    </script>
<% end %>

<%= render template: "layouts/adminbase" %>