<% content_for :contenido do %>
<!-- ================================ -->
<!-- ========== Begin REVOLUTION SLIDER ========== -->
<!-- ================================ -->
<div class="tp-banner-container tp-banner-container_1">
<!-- ===== Begin tp-banner ===== -->
<div class="tp-banner-800" >
<!-- ===== Begin list with sliders ===== -->
<ul>
<!-- ===== Begin SLIDE 1 ===== -->
<li data-transition="fade" data-slotamount="7" data-masterspeed="1500" >
  <!-- ===== MAIN IMAGE ===== -->
  <img alt="slider_1" src="assets/frontend/slider_4.jpg" data-bgfit="cover" data-bgposition="center center" data-bgrepeat="no-repeat"/>
  <!-- ===== Begin LAYERS ===== -->

  <!-- ===== Begin LAYER NR. 1 ===== -->
  <div class="tp-caption lfl"
       data-x="80"
       data-y="310"
       data-customin="x:50;y:150;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.5;scaleY:0.5;skewX:0;skewY:0;opacity:0;transformPerspective:0;transformOrigin:50% 50%;"
       data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
       data-speed="800"
       data-start="700"
       data-easing="easeOutBack"
       data-endspeed="500"
       data-endeasing="Power4.easeIn"
       style="z-index: 3"><img src="assets/frontend/revol-slider/photo_5.png" alt="photo_5">
  </div>

  <!-- ===== Begin LAYER NR. 2 ===== -->
  <div class="tp-caption lfr"
       data-x="320"
       data-y="200"
       data-customin="x:50;y:150;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.5;scaleY:0.5;skewX:0;skewY:0;opacity:0;transformPerspective:0;transformOrigin:50% 50%;"
       data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
       data-speed="800"
       data-start="1100"
       data-easing="easeOutBack"
       data-endspeed="500"
       data-endeasing="Power4.easeIn"
       style="z-index: 3"><img src="assets/frontend/revol-slider/photo_3.png" alt="photo_3">
  </div>

  <!-- ===== Begin LAYER NR. 3 ===== -->
  <div class="tp-caption lft"
       data-x="110"
       data-y="280"
       data-customin="x:50;y:150;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.5;scaleY:0.5;skewX:0;skewY:0;opacity:0;transformPerspective:0;transformOrigin:50% 50%;"
       data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
       data-speed="800"
       data-start="1400"
       data-easing="easeOutBack"
       data-endspeed="500"
       data-endeasing="Power4.easeIn"
       style="z-index: 3"><img src="assets/frontend/revol-slider/photo_2.png" alt="photo_2">
  </div>

  <!-- ===== Begin LAYER NR. 4 ===== -->
  <div class="tp-caption lft"
       data-x="150"
       data-y="185"
       data-customin="x:50;y:150;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.5;scaleY:0.5;skewX:0;skewY:0;opacity:0;transformPerspective:0;transformOrigin:50% 50%;"
       data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
       data-speed="800"
       data-start="1800"
       data-easing="easeOutBack"
       data-endspeed="500"
       data-endeasing="Power4.easeIn"
       style="z-index: 3"><img src="assets/frontend/revol-slider/photo_1.png" alt="photo_1">
  </div>

  <!-- ===== Begin LAYER NR. 5 ===== -->
  <div class="tp-caption lfl"
       data-x="140"
       data-y="600"
       data-customin="x:50;y:150;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.5;scaleY:0.5;skewX:0;skewY:0;opacity:0;transformPerspective:0;transformOrigin:50% 50%;"
       data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
       data-speed="800"
       data-start="2200"
       data-easing="easeOutBack"
       data-endspeed="500"
       data-endeasing="Power4.easeIn"
       style="z-index: 3"><img src="assets/frontend/revol-slider/photo_4.png" alt="photo_4">
  </div>

  <!-- ===== Begin LAYER NR. 6 ===== -->
  <div class="tp-caption lfr"
       data-x="330"
       data-y="560"
       data-customin="x:50;y:150;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.5;scaleY:0.5;skewX:0;skewY:0;opacity:0;transformPerspective:0;transformOrigin:50% 50%;"
       data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
       data-speed="800"
       data-start="2600"
       data-easing="easeOutBack"
       data-endspeed="500"
       data-endeasing="Power4.easeIn"
       style="z-index: 3"><img src="assets/frontend/revol-slider/photo_6.png" alt="photo_6">
  </div>

  <!-- ===== Begin LAYER NR. 7 ===== -->
  <div class="tp-caption sfb finewide_small_white_me_1"
       data-x="140"
       data-y="390"
       data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
       data-speed="500"
       data-start="3000"
       data-easing="easeOutBack"
       data-endspeed="500"
       data-endeasing="Power4.easeIn"
       data-captionhidden="on"
       style="z-index: 11">Bienvenidos<br>&nbsp;&nbsp;&nbsp;Rehabilitación<br> &nbsp;&nbsp;&nbsp;&nbsp;DAKAR AGUIRRE
  </div>

  <!-- ===== Begin LAYER NR. 8 ===== -->
  <div class="tp-caption sfr finewide_verysmall_white_mw_me_1"
       data-x="358"
       data-y="582"
       data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
       data-speed="500"
       data-start="3400"
       data-easing="easeOutBack"
       data-endspeed="500"
       data-endeasing="Power4.easeIn"
       data-captionhidden="on"
       style="z-index: 11">READ<br> MORE<br><i class="fa fa-long-arrow-right fa-inverse"></i>
  </div>
</li>
<!-- ===== End SLIDE 1 ===== -->

<!-- ===== Begin SLIDE 2 ===== -->
<li data-transition="fade" data-slotamount="7" data-masterspeed="1500" >
  <!-- ===== MAIN IMAGE ===== -->
  <img src="assets/frontend/slider_2.jpg" alt="slider_5" data-bgfit="cover" data-bgposition="center center" data-bgrepeat="no-repeat">
  <!-- ===== Begin LAYERS ===== -->

  <!-- ===== Begin LAYER NR. 1 ===== -->
  <div class="tp-caption lfl"
       data-x="65"
       data-y="295"
       data-customin="x:50;y:150;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.5;scaleY:0.5;skewX:0;skewY:0;opacity:0;transformPerspective:0;transformOrigin:50% 50%;"
       data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
       data-speed="800"
       data-start="700"
       data-easing="easeOutBack"
       data-endspeed="500"
       data-endeasing="Power4.easeIn"
       style="z-index: 3"><img src="assets/frontend/revol-slider/photo_14.png" alt="photo_14">
  </div>

  <!-- ===== Begin LAYER NR. 2 ===== -->
  <div class="tp-caption lfr"
       data-x="320"
       data-y="220"
       data-customin="x:50;y:150;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.5;scaleY:0.5;skewX:0;skewY:0;opacity:0;transformPerspective:0;transformOrigin:50% 50%;"
       data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
       data-speed="800"
       data-start="1100"
       data-easing="easeOutBack"
       data-endspeed="500"
       data-endeasing="Power4.easeIn"
       style="z-index: 3"><img src="assets/frontend/revol-slider/photo_8.png" alt="photo_8">
  </div>

  <!-- ===== Begin LAYER NR. 3 ===== -->
  <div class="tp-caption lfr"
       data-x="385"
       data-y="540"
       data-customin="x:50;y:150;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.5;scaleY:0.5;skewX:0;skewY:0;opacity:0;transformPerspective:0;transformOrigin:50% 50%;"
       data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
       data-speed="800"
       data-start="1500"
       data-easing="easeOutBack"
       data-endspeed="500"
       data-endeasing="Power4.easeIn"
       style="z-index: 3"><img src="assets/frontend/revol-slider/photo_15.png" alt="photo_15">
  </div>

  <!-- ===== Begin LAYER NR. 4 ===== -->
  <div class="tp-caption lft"
       data-x="110"
       data-y="280"
       data-customin="x:50;y:150;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.5;scaleY:0.5;skewX:0;skewY:0;opacity:0;transformPerspective:0;transformOrigin:50% 50%;"
       data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
       data-speed="800"
       data-start="1900"
       data-easing="easeOutBack"
       data-endspeed="500"
       data-endeasing="Power4.easeIn"
       style="z-index: 3"><img src="assets/frontend/revol-slider/photo_7.png" alt="photo_7">
  </div>

  <!-- ===== Begin LAYER NR. 5 ===== -->
  <div class="tp-caption lfl"
       data-x="140"
       data-y="600"
       data-customin="x:50;y:150;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.5;scaleY:0.5;skewX:0;skewY:0;opacity:0;transformPerspective:0;transformOrigin:50% 50%;"
       data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
       data-speed="800"
       data-start="2300"
       data-easing="easeOutBack"
       data-endspeed="500"
       data-endeasing="Power4.easeIn"
       style="z-index: 3"><img src="assets/frontend/revol-slider/photo_16.png" alt="photo_16">
  </div>

  <!-- ===== Begin LAYER NR. 6 ===== -->
  <div class="tp-caption lfr"
       data-x="320"
       data-y="570"
       data-customin="x:50;y:150;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.5;scaleY:0.5;skewX:0;skewY:0;opacity:0;transformPerspective:0;transformOrigin:50% 50%;"
       data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
       data-speed="800"
       data-start="2700"
       data-easing="easeOutBack"
       data-endspeed="500"
       data-endeasing="Power4.easeIn"
       style="z-index: 3"><img src="assets/frontend/revol-slider/photo_9.png" alt="photo_9">
  </div>

  <!-- ===== Begin LAYER NR. 7 ===== -->
  <div class="tp-caption sft finewide_small_white_me_2"
       data-x="130"
       data-y="390"
       data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
       data-speed="500"
       data-start="4000"
       data-easing="easeOutBack"
       data-endspeed="500"
       data-endeasing="Power4.easeIn"
       data-captionhidden="on"
       style="z-index: 11">Medic - Retina Medical<br> and Health Template<br> for all Clinics
  </div>

  <!-- ===== Begin LAYER NR. 8 ===== -->
  <div class="tp-caption sfr finewide_verysmall_white_mw_me_2"
       data-x="348"
       data-y="592"
       data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
       data-speed="500"
       data-start="4300"
       data-easing="easeOutBack"
       data-endspeed="500"
       data-endeasing="Power4.easeIn"
       data-captionhidden="on"
       style="z-index: 11">READ<br> MORE<br><i class="fa fa-long-arrow-right fa-inverse"></i>
  </div>
</li>
<!-- ===== End SLIDE 2 ===== -->

<!-- ===== Begin SLIDE 3 ===== -->
<li data-transition="fade" data-slotamount="7" data-masterspeed="1500" >
  <!-- ===== MAIN IMAGE ===== -->
  <img src="assets/frontend/slider_6.jpg" alt="slider_3" data-bgfit="cover" data-bgposition="center center" data-bgrepeat="no-repeat">
  <!-- ===== Begin LAYERS ===== -->

  <!-- ===== Begin LAYER NR. 1 ===== -->
  <div class="tp-caption lfl"
       data-x="50"
       data-y="405"
       data-customin="x:50;y:150;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.5;scaleY:0.5;skewX:0;skewY:0;opacity:0;transformPerspective:0;transformOrigin:50% 50%;"
       data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
       data-speed="800"
       data-start="700"
       data-easing="easeOutBack"
       data-endspeed="500"
       data-endeasing="Power4.easeIn"
       style="z-index: 3"><img src="assets/frontend/revol-slider/photo_13.png" alt="photo_13">
  </div>

  <!-- ===== Begin LAYER NR. 2 ===== -->
  <div class="tp-caption lfl"
       data-x="35"
       data-y="300"
       data-customin="x:50;y:150;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.5;scaleY:0.5;skewX:0;skewY:0;opacity:0;transformPerspective:0;transformOrigin:50% 50%;"
       data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
       data-speed="800"
       data-start="1100"
       data-easing="easeOutBack"
       data-endspeed="500"
       data-endeasing="Power4.easeIn"
       style="z-index: 3"><img src="assets/frontend/revol-slider/photo_17.png" alt="photo_17">
  </div>

  <!-- ===== Begin LAYER NR. 3 ===== -->
  <div class="tp-caption lft"
       data-x="145"
       data-y="260"
       data-customin="x:50;y:150;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.5;scaleY:0.5;skewX:0;skewY:0;opacity:0;transformPerspective:0;transformOrigin:50% 50%;"
       data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
       data-speed="800"
       data-start="1500"
       data-easing="easeOutBack"
       data-endspeed="500"
       data-endeasing="Power4.easeIn"
       style="z-index: 3"><img src="assets/frontend/revol-slider/photo_12.png" alt="photo_12">
  </div>

  <!-- ===== Begin LAYER NR. 4 ===== -->
  <div class="tp-caption lfr"
       data-x="380"
       data-y="260"
       data-customin="x:50;y:150;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.5;scaleY:0.5;skewX:0;skewY:0;opacity:0;transformPerspective:0;transformOrigin:50% 50%;"
       data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
       data-speed="800"
       data-start="1900"
       data-easing="easeOutBack"
       data-endspeed="500"
       data-endeasing="Power4.easeIn"
       style="z-index: 3"><img src="assets/frontend/revol-slider/photo_18.png" alt="photo_18">
  </div>

  <!-- ===== Begin LAYER NR. 5 ===== -->
  <div class="tp-caption lfr"
       data-x="370"
       data-y="540"
       data-customin="x:50;y:150;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.5;scaleY:0.5;skewX:0;skewY:0;opacity:0;transformPerspective:0;transformOrigin:50% 50%;"
       data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
       data-speed="800"
       data-start="2300"
       data-easing="easeOutBack"
       data-endspeed="500"
       data-endeasing="Power4.easeIn"
       style="z-index: 3"><img src="assets/frontend/revol-slider/photo_11.png" alt="photo_11">
  </div>

  <!-- ===== Begin LAYER NR. 6 ===== -->
  <div class="tp-caption lfb"
       data-x="110"
       data-y="280"
       data-customin="x:50;y:150;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.5;scaleY:0.5;skewX:0;skewY:0;opacity:0;transformPerspective:0;transformOrigin:50% 50%;"
       data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
       data-speed="800"
       data-start="2700"
       data-easing="easeOutBack"
       data-endspeed="500"
       data-endeasing="Power4.easeIn"
       style="z-index: 3"><img src="assets/frontend/revol-slider/photo_10.png" alt="photo_10">
  </div>

  <!-- ===== Begin LAYER NR. 7 ===== -->
  <div class="tp-caption lfb"
       data-x="155"
       data-y="570"
       data-customin="x:50;y:150;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.5;scaleY:0.5;skewX:0;skewY:0;opacity:0;transformPerspective:0;transformOrigin:50% 50%;"
       data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
       data-speed="800"
       data-start="3100"
       data-easing="easeOutBack"
       data-endspeed="500"
       data-endeasing="Power4.easeIn"
       style="z-index: 3"><img src="assets/frontend/revol-slider/photo_19.png" alt="photo_19">
  </div>

  <!-- ===== Begin LAYER NR. 8 ===== -->
  <div class="tp-caption sfr finewide_small_white_me_3"
       data-x="150"
       data-y="395"
       data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
       data-speed="500"
       data-start="3300"
       data-easing="easeOutBack"
       data-endspeed="500"
       data-endeasing="Power4.easeIn"
       data-captionhidden="on"
       style="z-index: 11">Lorem ipsum dollor<br> adec aseaec casaer<br> casae laoremae
  </div>

  <!-- ===== Begin LAYER NR. 9 ===== -->
  <div class="tp-caption sfr finewide_verysmall_white_mw_me_3"
       data-x="183"
       data-y="592"
       data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
       data-speed="500"
       data-start="3600"
       data-easing="easeOutBack"
       data-endspeed="500"
       data-endeasing="Power4.easeIn"
       data-captionhidden="on"
       style="z-index: 11">READ<br> MORE<br><i class="fa fa-long-arrow-right fa-inverse"></i>
  </div>
</li>
<!-- ===== End SLIDE 3 ===== -->
</ul>
<!-- ===== End list with sliders ===== -->
<div class="tp-bannertimer"></div>
</div>
<!-- ===== End tp-banner ===== -->
</div>
<!-- ================================ -->
<!-- ========== End REVOLUTION SLIDER ========== -->
<!-- ================================ -->

<!-- ================================ -->
<!-- ========== Begin Latest News Carousel ========== -->
<!-- ================================ -->
<div class="latest_news_carousel">
<div class="container xsx-width">
  <div class="row">
    <!-- ===== Begin Title Latest ===== -->
    <div class="titleL col-md-12">
      <h4>Últimas noticias</h4>
      <div class="right-linie">
        <span></span>
      </div>
    </div>
    <!-- ===== End Title Latest ===== -->

    <!-- ================================ -->
    <!-- ========== Begin Elements ========== -->
    <!-- ================================ -->
    <div class="col-md-12">
      <div class="row">
        <div id="owl-latest_news_1" class="owl-carousel owl-theme">

          <% @ultimas_noticias.each do |noti| %>

              <div class="item">
                <div class="latest_news_elements">
                  <div class="thumbnail thumbnail_latest_news">
                    <img src="<%= noti.imagen_url %>" alt=""/>
                    <div class="mask">
                      <ul>
                        <li><a href="/vernoticia/<%= noti.id %>"><i class="fa fa-external-link"></i></a></li>
                      </ul>
                    </div>
                  </div>
                  <div class="caption_latest_news">
                    <h4><a href="#"><%= noti.titulo %></a></h4>
                    <p></p>
                    <ul>
                      <li><a href="#"><i class="fa fa-calendar"></i> <%= noti.created_at.to_date.strftime("%d/%m/%Y") %></a></li>
                    </ul>
                  </div>
                </div>
              </div>

          <% end %>

        </div>
      </div>
    </div>
    <!-- ================================ -->
    <!-- ========== End Elements ========== -->
    <!-- ================================ -->
  </div>
</div>
</div>
<!-- ================================ -->
<!-- ========== End Latest News Carousel ========== -->
<!-- ================================ -->
<div class="container xsx-width">
  <div class="row">
    <div class="col-md-7">
      <table class="table table-hover" id="horarios">
        <thead>
        <tr>
          <th>Días</th>
          <th>Horario</th>
        </tr>
        </thead>
        <tbody>
        <% @horarios.each do |h| %>
            <tr>
              <td><%= h.dias %></td>
              <td><%= h.rango_horas %></td>
            </tr>
        <% end %>
        </tbody>
      </table>
    </div>
    <div class="col-md-5">
      <div class="widget widget-form">
        <!-- ===== Begin Form ===== -->
        <div class="forM">
          <form role="form">
            <h4>SEPARA UNA CITA</h4>
            <button id="separar" type="button" class="btn btn-default">AHORA</button>
          </form>
        </div>
        <!-- ===== End Form ===== -->
      </div>
    </div>
  </div>
</div>
<br/>
<hr/>
<br/>
<!-- ================================ -->
<!-- ========== Begin section Medical Team ========== -->
<!-- ================================ -->
<div class="medicalTeam">
  <div class="container xsx-width">
    <div class="row" style="text-align: center !important;">
      <!-- ===== Begin Heading ===== -->
      <div class="heading">
        <h2>Calidad y Experiencia</h2>
        <p>Su salud está en buenas manos</p>
        <!--<h4><img src="assets/img/heading.png" alt="heading"></h4>-->
      </div>
      <!-- ===== End Heading ===== -->
      <div class="col-xs-12 col-sm-6 col-md-4"></div>
      <!-- ===== Begin members team blocks ===== -->
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="elements_team">
          <div class="thumbnail team">
            <img src="assets/frontend/doctor-1.jpg" alt="doctor-1.jpg">
            <div class="mask">
            </div>
          </div>
          <div class="caption_team">
            <h4>Dr. Dakar Aguirre</h4>
            <span>Pediatric</span>
          </div>
          <ul>
            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
            <li><a href="#"><i class="fa fa-envelope"></i></a></li>
          </ul>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4"></div>

      <!-- ===== End members team blocks ===== -->
    </div>
  </div>
  <br/><br/>
</div>
<% end %>

<% content_for :inscripts do %>
<!-- ========== jQuery REVOLUTION Slider Plugins ========== -->
    <script type="text/javascript" charset="utf-8">
        $("#separar").click(function(){
            window.location = "/cita"
        });
    </script>


<!-- ========== Royal Slider Plugins ========== -->


<% end %>

<%= render template: "layouts/usuariobase" %>