<% content_for :estilos do %>
    <%= stylesheet_link_tag "backend/select2", "backend/dataTables.bootstrap", "backend/bootstrap-switch.min" %>
    <style>
      .acciones{
          font-size: 16px !important;
          cursor: pointer;
      }
      .perfil{
          color: #4D5B69;
            }
      .consulta{
                color: #1BA39C;
            }
      .historial{
          color: #578EBE;
            }
    </style>
<% end %>

<% content_for :contenido do %>
<!-- BEGIN EXAMPLE TABLE PORTLET-->
<div class="portlet box blue-madison" style="border: 1px solid #ccc">

  <div class="portlet-body">
    <div class="table-toolbar">
      <div class="row">
        <div class="col-md-6">
          <div class="input-group input-large">
												<span class="input-group-btn">
			<button id="criterioBusq" type="button" class="btn blue-madison dropdown-toggle" data-toggle="dropdown">
              <% if @criterio == "ced" then %>
                  Cédula
              <% else %>
                  Nombre
              <% end %>
              <i class="fa fa-angle-down"></i>
            </button>
                                                  <ul class="dropdown-menu">
                                                    <li>
                                                      <a class="criterio" name="ced" href="#">
                                                        Cédula </a>
                                                    </li>
                                                    <li>
                                                      <a class="criterio" name="nom" href="#">
                                                        Nombres </a>
                                                    </li>

                                                  </ul>
												</span>
            <input id="txtBusq" class="form-control" placeholder="Búsqueda..." type="text" value="<%= @txtBusq %>">
												<span class="input-group-btn">
            <button id="btnBusq" class="btn blue-madison" type="button"><i class="icon-magnifier"></i></button>
												</span>
          </div>
        </div>
        <div class="col-md-6">
          <div class="btn-group pull-right">

          </div>
        </div>
      </div>
    </div>
    <table class="table table-striped table-bordered table-hover" id="sample_1">
      <thead>
      <tr>
        <th>
          Cédula
        </th>
        <th>
          Nombre
        </th>
        <th>
          Edad
        </th>
        <th>
          Acciones
        </th>

      </tr>
      </thead>
      <tbody>
      <% @pacientes.each do |p| %>

          <tr class="odd gradeX">
            <td>
              <%= p.cedula %>
            </td>
            <td>
              <%= p.nombres %> <%= p.apellidos %>
            </td>
            <td>
              <%= Time.new.year - p.fecha_nac.year %>
            </td>
            <td>
              &nbsp;
              <a href="/paciente/<%= p.id %>/editar/"><i data-container="body" data-placement="top" data-original-title="Editar perfil" class="acciones perfil fa fa-pencil tooltips"></i></a>&nbsp;
              <a href="/paciente/<%= p.id %>/historial/nuevo/"><i data-container="body" data-placement="top" data-original-title="Nuevo historial" class="acciones consulta fa fa-file tooltips"></i></a>&nbsp;
              <a href="/paciente/<%= p.id %>/historial/"><i data-container="body" data-placement="top" data-original-title="Historial completo" class="acciones historial fa fa-folder-open tooltips"></i></a>
            </td>
          </tr>

      <% end %>


      </tbody>
    </table>
  </div>
</div>

<!-- END EXAMPLE TABLE PORTLET-->
<% end %>

<% content_for :scripts do %>
    <%= javascript_include_tag "backend/select2.min","backend/jquery.dataTables.min", "backend/dataTables.bootstrap", "backend/table-managed" %>

    <script type="text/javascript" charset="utf-8">
        TableManaged.init();

        $(function(){
            var criterio = "<%= @criterio %>";
            $(".criterio").click(function(){
                if ($(this).prop("name") == "ced"){
                    criterio = "ced";
                    $("#criterioBusq").html("Cédula <i class='fa fa-angle-down'></i>");
                } else{
                    criterio = "nom";
                    $("#criterioBusq").html("Nombres <i class='fa fa-angle-down'></i>");
                }
            });

            $("#txtBusq").keydown(function(e){
                if(e.keyCode == 13) {
                    window.location = "/paciente/listar/"+ $(this).val() +"/"+ criterio;
                }
            });

            $("#btnBusq").click(function(e){
                    window.location = "/paciente/listar/"+ $("#txtBusq").val() +"/"+ criterio;
            });


        });
    </script>
<% end %>

<%= render template: "layouts/adminbase" %>